@page
@model JeweleryModel
@{
}


<div class="d-flex">
    <div style="width: 20%; display:flex; justify-content:center; height:100vh;">
        <div style="text-align: center; background: #86c5da; width:90%;">
            <div>
                <p>Welcome</p>
            </div>
            <div>
                <p>To</p>
            </div>
            <div>
                <p style="font-weight: bolder; font-size: 120px; margin-left: 0;">
                    H
                    <span style="font-weight:bolder; font-size:38px">
                        aystore
                    </span>
                </p>
                
            </div>
            
        </div>
    </div>
    <div class="d-flex flex-wrap" style="width: 80%">
        @foreach (var product in Model.JeweleryFromJson)
        {
            <a class="card" style="height:374px; margin-bottom:8px;margin-right:8px;width:24%;text-decoration:none; color:black" asp-page="/ShowProduct" asp-route-name="@product.Title">
                <div style="height:50%; display:flex; justify-content:center">
                    <img style="height:80%; width:80%; margin-top:10px" src="@product.Img" />
                </div>
                <div class="card-body" style="height:50%">
                    <p class="card-text-2" style="font-size:large;">@product.Title</p>
                    <div>
                        @for (var i = 0; i < 5; i++)
                        {
                            <span class="@(i <= product.Rating.rate ? "fa fa-star checked rating " : "far fa-star rating")"></span>
                        }
                        <span class="count">@product.Rating.count</span>
                    </div>
                    <p class="">£@product.Price</p>

                </div>
        </a>

    }
    </div>
</div>
