@page
@model E_commerce.Pages.SearchResultModel
@{
}

<body style="background-color:#EAEDED !important;">
    <h1 style="text-align: center; background-color: white; margin-bottom: 0; margin-left: 3rem; margin-right: 3rem; padding-top:1.5rem; padding-bottom:1.5rem;">Search Result</h1>

    @foreach (var each in Model.ProductsFromAPI)
    {
        <div style="background-color: white; margin-left: 3rem; margin-right: 3rem;">
            <div style=" display: flex; flex-direction: row; margin:1rem;">
                <div style="width:25%; display:flex; justify-content:center">
                    <img src="@each.Thumbnail" style="width:100%; height:240px; align-self:center; " />
                </div>
                <div style="width:75%; margin:1rem;">
                    <h1>
                        @each.Title
                    </h1>
                    <p>
                        @for (var i = 0.5; i < 5; i++)
                        {
                            <span class="@(i <= each.Rating ? "fa fa-star checked rating " : "far fa-star rating")"></span>
                        }
                    </p>
                    <p>
                        @each.Description
                    </p>
                    <p style="font-size:28px">
                        £@each.Price
                    </p>
                    <p style="font-size:14px">
                        Available instantly
                    </p>
                </div>
            </div>
        </div>
    }

    @foreach (var each in Model.ProductsFromJson)
    {
        <div style="background-color: white; margin-left: 3rem; margin-right: 3rem;">
            <div style=" display: flex; flex-direction: row; margin:1rem;">

                <div style="width:25%; display:flex; justify-content:center">
                    <img src="@each.Img" style="width:100%; height:240px; align-self:center; " />
                </div>
                <div style="width:75%; margin:1rem;">
                    <h1>
                        @each.Title
                    </h1>
                    <p>
                        @for (var i = 0; i < 5; i++)
                        {
                            <span class="@(i <= each.Rating.rate ? "fa fa-star checked rating " : "far fa-star rating")"></span>
                        }
                    </p>
                    <p>
                        @each.Description
                    </p>
                    <p style="font-size:28px">
                        £@each.Price
                    </p>
                    <p style="font-size:14px">
                        Available instantly
                    </p>
                </div>
            </div>
        </div>

    }
</body>