@page
@model TodaysDealModel
@{
    ViewData["Title"] = "Today's Deal";
    var randomNum = new Random();
}
<div class="d-flex flex-row">
    <div style="width: 20%; display:flex;height:100vh; flex-direction:column">
        <div style="padding-left:20px">
            <h1 style="font-size:32px;margin-bottom:2rem;">
                Fake Selector
            </h1>
            <p style="font-weight:bold">
                Avg.Customer Review
            </p>
            @{
                for (var i = 4; i > 0; i--)
                {
                    <div style="display: flex; flex-direction: row; height:32px">
                        @for (var x = 0; x < 5; x++)
                        {
                            <div style="align-items:center;">
                                <p class="@(x < i ? "fa fa-star checked rating " : "far fa-star rating")"></p>
                            </div>


                        }
                        <p style="margin-left:3px">& up</p>
                    </div>
                }

            }
        </div>
        <div style="padding-left:20px">
            <p style="font-weight:bold">New Arrivals</p>
            <p style="margin-bottom:5px">Last 30 days</p>
            <p>Last 90 days</p>
        </div>
        <div style="padding-left:20px">
            <p style="font-weight:bold">Price</p>
            <ul style="padding-left:0px">
                <li style="list-style:none">Up to £15</li>
                <li style="list-style:none">£15 to £50</li>
                <li style="list-style:none">£50 to £100</li>
                <li style="list-style:none">£100 to £200</li>
                <li style="list-style:none">£200 to £500</li>
                <li style="list-style:none">£500 &Aacute; above</li>
            </ul>

        </div>
    </div>
    <div class="d-flex flex-row flex-wrap justify-content-evenly" style="width: 80%;">
        @foreach (var product in Model.Products)
        {
            <a class="card" style="text-decoration:none; color:black;" asp-page="/ShowProduct" asp-route-name="@product.Title">
                <img class="card-img-top" src="@product.Img" />
                <div class="card-body">
                    <p class="card-text"> @product.Title</p>
                    <div>
                        @for (var i = 0; i < 5; i++)
                        {
                            <span class="@(i <= product.Rating.rate ? "fa fa-star checked rating bottom-0" : "far fa-star rating")"></span>
                        }
                        <span class="count">@product.Rating.count</span>
                    </div>
                    <div class="d-flex flex-row">
                        <h5 class="card-title text-truncate my-auto"> £@product.Price</h5>
                        @{
                            var theNum = randomNum.Next(20, 95);
                            <p class="text-white bg-danger px-1 ml-4 mr-1 my-auto" style="font-size: 12px; height:20px;">@theNum % off</p>
                            double wasPrice = (double)product.Price / (1 - ((double)theNum / 100));
                            <p style="text-decoration-line: line-through; color:gray; font-size: 11px;" class="my-auto">Was £@wasPrice.ToString("F2")</p>
                        }
                    </div>
                </div>
            </a>
        }

    </div>
</div>
